# === ТОКЕНЫ И API КЛЮЧИ ===
# Пресет конфигурации настраивается в config/settings.yaml через active_preset
# Стандартные переменные (для default пресета)
TELEGRAM_BOT_TOKEN=ваш_токен_бота
MTPROTO_API_ID=ваш_api_id
MTPROTO_API_HASH=ваш_api_hash
SALUTESPEECH_AUTH_KEY=ваш_api_ключ
GIGACHAT_AUTH_KEY=ваш_gigachat_ключ

# === ТОКЕНЫ ОБНОВЛЕНИЯ ===
UPDATE_TOKEN_PRO=TOKEN